.content-row {
    margin: 3vw 0;
    padding: 0 4%;
    gap: 0.5vw;
}

.content {
    width: 16vw;
    display: inline-block;
    /* margin-right: 10px; */
}

.content img {
    max-width: 100%;
    cursor: pointer;
}

.slider {
    display: inline-block;
    white-space: nowrap;
    overflow: scroll;
}

.slider::-webkit-scrollbar {
    display: none;
}

/* .slider::-webkit-scrollbar {
    visibility: hidden;
} */

.rank {
    height: 150px;
    position: relative;
    /* width: 22%; */
}

.rank svg {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    width: 50%;
    /* height: 100%;
    background-size: cover;
    object-fit: cover;
    z-index: 1; */
}

.rank img {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    /* z-index: 0; */
}

@media only screen and (max-width: 800px) {
    .content {
        margin-right: 0;
        width: 30%;
    }

    .rank {
        height: 20vw;
        width: 30vw;
    }
}
