footer {
    margin: auto;
    color: gray;
    max-width: 980px;
    padding: 0 4%;
    gap: 1vw;
    /* margin-top: 140px; */
    margin-top: 60px;
}

.social-icons {
    color: white;
    gap: 15px;
}

.social-icon {
    color: gray;
    font-size: 1.5vw;
    scale: 1.5;
    display: block;
    margin-right: 15px;
    transition: all 1s;
}

.social-icon:hover {
    color: whitesmoke;
}

.footer-links {
    flex-wrap: wrap;
    font-size: 13px;
    margin: 0 0 14px;
    align-items: flex-start;
    /* display: flex; */
}

.footer-link {
    display: flex;
    flex-basis: 25%;
    margin-bottom: 15px;
}

.service-code {
    /* background-color: transparent; */
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
    font-size: 13px;
    padding: 0.5vw;
    width: fit-content;
    border-radius: 5px;
    transition: all 1s;
}

.service-code:hover {
    border-radius: 10px;
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid white;
}

.footer-copyright {
    font-size: 11px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 800px) {
    footer {
        margin-top: 40px;
    }

    .social-icons {
        margin-bottom: 1rem;
    }

    .social-icon {
        font-size: 2vw;
        margin-right: 5px;
    }

    .footer-link {
        flex-basis: 50%;
        margin-bottom: 10px;
        font-size: 2vw;
    }

    .service-code {
        font-size: 2vw;
    }

    .footer-copyright {
        font-size: 2.5vw;
    }
}
